.backHome {
  display: flex;

  @media(max-width:768px) {
    width: 90%;
    margin: auto;
  }
}

.back {
  &-sildemenu {
    max-width: 250px;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width:992px) {
      max-width: 200px;
    }

    @media(max-width:768px) {
      bottom: auto;
      left: 0px;
      max-width: 100%;
      flex-direction: row;
      padding: 0px 15px;
      background-color: map-get($color, bgcolor);
      z-index: 999;
      padding: 15px
    }

    &-logo {
      margin-top: 30px;

      @media(max-width:768px) {
        margin-top: 0px;
      }
    }

    &-list {
      margin-top: 45px;

      @media(max-width:768px) {
        margin-top: 0px;
      }

      &>ul {
        padding-left: 0px;

        @media(max-width:768px) {
          display: flex;
          margin-left: 15px;
        }

        &>a {
          color: map-get($color, three);

          @media(max-width:768px) {
            margin-right: 10px;
          }

          &:hover {
            color: map-get($color, main);
          }

          &>li {
            margin-top: 15px;
            border-radius: 20px;
            border: 1px solid map-get($color, three);
            display: block;
            text-align: center;
            width: 150px;
            padding: 10px;

            @media(max-width:992px) {
              width: 120px;
            }

            @media(max-width:768px) {
              width: auto;
            }
          }
        }
      }
    }

    .login-out {
      position: absolute;
      bottom: 30px;
      border-radius: 20px;
      border: 1px solid map-get($color, three);
      display: block;
      width: 150px;
      padding: 10px;
      text-align: center;
      cursor: pointer;

      @media(max-width:768px) {
        width: auto;
        right: 0px;
        bottom: 35px;
        margin-right: 15px;
      }
      @media(max-width: 412px){
        bottom: -50px;
      }
    }
  }
}