.order-table {
  width: 800px;

  td {
    padding: 5px;
    border: 1px solid map-get($color, bgcolor);
  }

  &>thead {
    tr {
      td {
        color: map-get($color, second);
        padding: 10px;
      }
    }
  }

  &>tbody {}
}