.cart {
  max-width: 1200px;
  width: 80%;
  margin: auto;

  @media(max-width: 576px) {
    width: 95%;
  }
}

.cart-banner {
  height: 200px;
}

.cart-cont {
  margin-top: 30px;

  &-step {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;

    &>div {
      max-width: 20%;
      flex-basis: 20%;
      border-radius: 20px;
      background-color: map-get($color, bgcolor);
      text-align: center;
      margin-right: 30px;
      padding: 15px;

      @media(max-width: 800px) {
        max-width: 50%;
        flex-basis: 50%;
        margin-right: 0px;
      }
    }

    .cart-cont-step-2 {
      @media(max-width: 800px) {
        margin: 0px 15px;
      }
    }

    .step_active {
      color: map-get($color, main);

      @media(max-width: 800px) {}
    }
  }

  &-list {
    width: 90%;
    margin: auto;
    margin-top: 30px;

    &-title {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: map-get($color, bgproduct);

      &>p:nth-of-type(2) {
        position: relative;
        margin-right: 15px;

        &>span:nth-of-type(2) {
          position: absolute;
          width: 0px;
          height: 0px;
          border-style: solid;
          margin-left: 3px;
          top: 2px;
          border-width: 0px 6px 8px 6px;
          border-color: transparent transparent map-get($color, main) transparent;
          transition: all .4s;
        }
      }
    }

    &-info {
      margin-top: 30px;

      &-header,
      &-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
      }

      &-title {
        max-width: 60%;
        flex-basis: 60%;
        display: flex;
        align-items: center;
        padding: 0px 15px;

        &>img {
          width: 150px;

          @media(max-width: 768px) {
            width: 100px;
          }
        }
      }

      &-count {
        max-width: 20%;
        flex-basis: 20%;
        text-align: center;
      }

      &-price {
        max-width: 20%;
        flex-basis: 20%;
        text-align: center;

      }
    }

    &-total {
      text-align: right;
      margin-top: 30px;

      &>p {
        margin-top: 10px;
      }
    }

    &-coupon {
      margin-top: 30px;

      &>div {
        display: flex;
        border: 1px solid map-get($color, three);

        @media(max-width:412px) {
          flex-direction: column;
        }

        &>input {
          flex-grow: 1;
          border: transparent;
          border-radius: 0px;
        }

        &>button {
          width: 100px;
          color: map-get($color, three);
          transition: all .4s;

          @media(max-width:412px) {
            width: auto;
            padding: 10px;
            text-align: center;
            display: block;
          }

          &:hover {
            color: map-get($color, main);
          }
        }
      }
    }
  }

  &-next {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    &>a {
      padding: 15px;
      border: 1px solid map-get($color, three);
      color: map-get($color, three);
      transition: all .4s;

      &:hover {
        color: map-get($color, main);
      }
    }

    &>button {
      padding: 15px;
      border: 1px solid map-get($color, three);
      color: map-get($color, three);
      transition: all .4s;

      &:hover {
        color: map-get($color, main);
      }
    }
  }

  &-userinfo {
    &-title {
      display: flex;
      font-size: 18px;
      margin: 30px 0px;

      &>p {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0px;
          bottom: -8px;
          height: 3px;
          background-color: map-get($color, main);
          width: 70px;
        }
      }

      &>span {
        color: map-get($color, red);
      }
    }

    &-input {
      margin-bottom: 10px;

      &>input {
        width: 100%;
        margin-bottom: 5px;
      }
    }

    &-message {
      &>textarea {
        width: 100%;
        padding: 10px;
      }
    }
  }
}

.cart-order {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  margin-top: 30px;

  &-table {
    width: 800px;
    table-layout: fixed;
    word-break: break-all;

    @media(max-width:1100px) {
      width: 90%;
    }

    @media(max-width:768px) {
      width: 100%;
    }

    &>thead {
      &>td {
        vertical-align: middle;
      }

      &>td:nth-of-type(1) {
        padding-left: 20px;
      }
    }

    &>tbody {
      &>tr {
        &>td {
          vertical-align: middle;
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;

      &>img {
        width: 150px;
      }
    }
  }
}

.cart-userinfo {
  &-txt {
    width: 60%;
    margin: auto;
    border: 1px solid map-get($color, bgproduct);
    border-radius: 5px;
    box-shadow: 0px 0px 1rem 1rem map-get($color, bgproduct);
    padding: 15px;
    padding-bottom: 0px;

    &>div {
      display: flex;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid map-get($color, main);
    }
  }

  .paystate {
    border: transparent;
    justify-content: space-between;

    &>div {
      padding: 15px;
    }

    .nopay {
      border: 1px solid map-get($color, red);
      color: map-get($color, red);
    }

    .ispay {
      border: 1px solid map-get($color, main);
      color: map-get($color, main);
    }

    .paynow {
      border: 1px solid map-get($color, three);
      transition: all .4s;
      cursor: pointer;

      &:hover {
        border: 1px solid map-get($color, main);
        color: map-get($color, main);
      }
    }

    .payending {
      border: 1px solid map-get($color, three);
      transition: all .4s;
      cursor: pointer;

      &:hover {
        border: 1px solid map-get($color, second);

        &>a {
          color: map-get($color, second);
          transition: all .4s;
        }
      }

      &>a {
        color: map-get($color, three);
      }
    }
  }
}

.cart-goshop {
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  position: relative;
  animation: pulse 1s infinite;
  border-radius: 20px;
  box-shadow: 0 0 0 1em rgba(#fff, 0);

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1em rgba(#fff, 0);
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  &:hover {
    color: white;
    border: 1px solid white;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 map-get($color, main);
  }
}