// @import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

// css reset start
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: map-get($color, bgMaincolor);
  font-size: 14px;
  color: map-get($color, three);
  position: relative;
  overflow-x: hidden;
  // font-family: 'ZCOOL XiaoWei', serif;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h4 {
  font-size: 24px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: transparent;
  background-color: transparent;
}

button:focus {
  outline: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
}

// input type=number 箭頭消失
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// css reset end

// input number 樣式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// end input

textarea {
  resize: none;
}

// content layout
.wrap {
  width: 100%;
  margin-top: 84px;
  margin-bottom: 80px;
}

.content {
  max-width: 1440px;
  width: 90%;
  margin: auto;
}

.mt {
  margin-top: 60px;

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  @media (max-width: 576px) {
    margin-top: 15px;
  }
}

// validate class
.is-invalid {
  border: 1px solid map-get($color, red);
  background-color: #fff;
  background-image: url('~@/assets/images/icon/error.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
  background-size: 20px;

  &:focus {
    outline: none;
  }
}

.is-valid {
  border: 1px solid map-get($color, main);
  background-color: #fff;
  background-image: url('~@/assets/images/icon/correct.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
  background-size: 20px;

  &:focus {
    outline: none;
  }
}

.error-txt {
  display: block;
  color: map-get($color, red);
}

// back content layout
.back {
  &-wrap {
    margin-top: 35px;
  }

  &-content {
    margin-left: 300px;
    width: 100%;
    height: 100%;

    @media (max-width: 992px) {
      margin-left: 200px;
    }

    @media (max-width: 768px) {
      margin: auto;
      margin-top: 130px;
    }
  }

  &-title {
    margin-bottom: 30px;
  }
}

// modal
.modal-content {
  background-color: map-get($color, bgcolor);
  box-shadow: 1px 1px 50px 20px map-get($color, bgcolor);
}

//btn
.main-btn {
  background-color: transparent;
  border: 1px solid map-get($color, three);
  border-radius: 5px;
  padding: 5px 8px;
  color: map-get($color, three);
  transition: all 0.5s;

  &:hover {
    border: 1px solid map-get($color, main);
    color: map-get($color, main);
  }
}

.learn-more {
  color: map-get($color, main);
  font-size: 14px;

  &:hover {
    color: map-get($color, main);
    text-decoration: underline;
  }
}

.close {
  &>span {
    color: map-get($color, three);
  }
}

// transition animation

.category-enter-active,
.category-leave-active {
  transition: .5s ease-in-out;
}

.category-enter,
.category-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}

.products-enter-active {
  // 新增進場特效
  transition: all 1s ease-in-out;
}

.products-leave-active {
  // 新增退場特效
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.products-enter {
  // 設定進場動線
  transform: translateX(100px);
}

.products-leave-to {
  // 設定退場動線
  opacity: 0;
  transform: translateY(50px);
}

// rotate90
.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

// tab
.nav-tabs {
  border-bottom: 1px solid map-get($color, bgcolor);
}

.nav-tabs .nav-link.active {
  color: map-get($color, second);
  background-color: map-get($color, bgcolor);
  border-color: map-get($color, bgcolor);
}

.nav-tabs .nav-link {
  color: map-get($color, three);
}

// loading

@keyframes ldio-zifyp9wz5z {
  0% {
    top: 90.62px;
    left: 90.62px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 53.19px;
    left: 53.19px;
    width: 74.86px;
    height: 74.86px;
    opacity: 0;
  }
}

.ldio-zifyp9wz5z div {
  position: absolute;
  border-width: 7.88px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-zifyp9wz5z 1.3513513513513513s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-zifyp9wz5z div:nth-child(1) {
  border-color: #34e89e;
  animation-delay: 0s;
}

.ldio-zifyp9wz5z div:nth-child(2) {
  border-color: #fdbb2d;
  animation-delay: -0.6756756756756757s;
}

.loadingio-spinner-ripple-bzo8opf0rpm {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-zifyp9wz5z {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-zifyp9wz5z div {
  box-sizing: content-box;
}