.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: black;
  padding: 10px 0px;
  transition: ease-in-out .5s;
  letter-spacing: 1.5px;

  &-wrap {
    max-width: 1440px;
    width: 90%;
    display: flex;
    margin: auto;

    @media(max-width: 875px) {
      width: 95%;
    }

    @media(max-width: 768px) {
      width: 90%;
      justify-content: space-between;
    }
  }

  &-icon {
    color: map-get($color, three);
    flex-basis: 15%;
    flex-grow: 1;
    max-width: 15%;

    @media(max-width: 875px) {
      flex-basis: 10%;
      max-width: 10%;
    }

    &-img {
      fill: map-get($color, three);
    }
  }

  &-item {
    display: flex;
    flex-basis: 85%;
    flex-grow: 1;
    max-width: 85%;
    justify-content: space-around;
    transition: ease-in-out .5s;

    @media(max-width: 875px) {
      flex-basis: 90%;
      max-width: 90%;
    }

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      flex-basis: 100%;
      max-width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      transform: translateY(-100%);
      padding-top: 80px;
    }
  }

  &-list {
    flex-basis: 70%;
    flex-grow: 1;
    max-width: 70%;
    display: flex;
    align-items: center;

    @media(max-width: 1020px) {
      flex-basis: 80%;
      max-width: 80%;
    }

    @media(max-width:768px) {
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 0;
      -webkit-order: 2
    }

    #header-list-product {

      &:hover {
        .header-list-products {
          opacity: 1;
          height: 180px;
          display: block;

          @media(max-width:768px) {
            display: none;
          }

          &>li>a {
            animation: totop 0.4s ease-in-out forwards;
            animation-delay: calc(0.1s * var(--i));


            @at-root {
              @keyframes totop {
                0% {
                  opacity: 0;
                  transform: translateY(150px);
                }

                100% {
                  opacity: 1;
                  transform: translateY(0px);
                }
              }
            }
          }
        }
      }
    }

    &-products {
      height: 0px;
      opacity: 0;
      display: none;
      padding-left: 0px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(0px);
      transition: ease-in-out .3s;
      margin-top: 10px;
      padding: 10px 20px;
      width: 120px;
      background-color: map-get($color, bgcolor);
      border-radius: 5px;
      box-shadow: 1px 1px 6px 2px map-get($color, second);

      &::before {
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent map-get($color, bgcolor) transparent;
      }

      &>li {
        margin: 15px 0px;


        &>a {
          color: map-get($color, three);
          transition: ease-in-out .5s;
          display: block;
          opacity: 0;

          &:hover {
            color: map-get($color, main);
            text-decoration: none;
          }

        }
      }

      &-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        text-align: center;
        background-color: map-get($color, bgproduct);
        border-radius: 10px;
        margin-top: 15px;
        transition: all .5s;

        &>li {
          margin: 15px 0px;

          &>a {
            color: map-get($color, three);
            transition: ease-in-out .5s;
            display: block;

            &:hover {
              color: map-get($color, main);
              text-decoration: none;
            }
          }
        }
      }
    }

    &>ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding-left: 0px;
      width: 80%;

      @media(max-width:768px) {
        flex-direction: column;
        width: 100%;
        margin: 0px;
      }

      &>li {
        margin: 0px 10px;
        position: relative;
        cursor: pointer;

        &>a {
          color: map-get($color, three);
          transition: ease-in-out .5s;

          @media(max-width:768px) {
            display: block;
            font-size: 20px;
            margin-top: 15px;
          }

          &:hover {
            color: map-get($color, main);
            text-decoration: none;
          }

          &>span {
            display: none;

            @media(max-width:768px) {
              display: inline-block;
              transition: all .4s;
            }

            &>img {
              width: 14px;
              height: 14px;
            }
          }
        }

      }
    }
  }

  &-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    flex-grow: 1;
    max-width: 15%;
    color: map-get($color, three);

    @media(max-width: 1150px) {
      flex-basis: 20%;
      max-width: 20%;
    }

    @media(max-width:768px) {
      flex-grow: 0;
      flex-basis: 0%;
      max-width: 100%;
    }

    &>ul {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
      padding-left: 0px;
      border: 1px solid rgb(49, 41, 41);
      background-color: rgb(49, 41, 41);
      border-radius: 30px;
      padding: 5px;

      @media(max-width:768px) {
        flex-direction: column;
        background: transparent;
        border: transparent;
        font-size: 20px;
      }

      &>li {
        padding: 5px 10px;

        &>a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-cart {
      position: relative;

      &>p {
        display: inline-block;
        cursor: pointer;
      }

      &>span {
        position: absolute;
        font-size: 12px;
        line-height: 1em;
        border-radius: 50%;
        background-color: red;
        width: 14px;
        height: 14px;
        top: -8px;
        text-align: center;
      }

      &-list {
        position: absolute;
        right: 0px;
        top: 39px;
        background-color: map-get($color, bgcolor);
        border-radius: 10px;
        padding: 10px;

        &::before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          top: -8px;
          right: 13px;
          border-style: solid;
          border-width: 0px 8px 9px 8px;
          border-color: transparent transparent map-get($color, bgcolor) transparent;
        }

        &>ul {
          padding-left: 0px;

          &>li {
            display: flex;
            text-align: center;
            align-items: center;
            padding: 5px 0px;
            border-bottom: 1px solid map-get($color, bgproduct);

            &>div {
              margin: 5px 0px;

              &>img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }

        &-img {
          width: 80px;

          &>img {
            border: 1px solid map-get($color, bgproduct);
          }
        }

        &-txt {
          width: 150px;
        }

        &-unit {
          width: 30px;
        }

        &-btn {
          width: 50px;
        }

        &-total {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }

    .nocart {
      width: 175px;
    }
  }

  &-mobile-btn {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;

    &>button {
      &>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 1px solid white;
        opacity: 1;
      }
    }

    @media(max-width: 768px) {
      display: flex;

    }
  }
}

.mobile-btn-active {
  &>button {
    position: relative;

    &>span {
      transition: all .4s;
    }

    &>span:nth-of-type(1) {
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
    }

    &>span:nth-of-type(2) {
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      right: -12px;
    }

    &>span:nth-of-type(3) {
      display: none;
      opacity: 0;
    }
  }
}

.header.active {
  background-color: #222 !important;
}